# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

#Ignore computer-specific properties
gradle.properties

# ignore eclipse settings
.settings/
.classpath
.project

bin/